Source: golang-github-dpeckett-deb822
Section: golang
Priority: optional
Maintainer: Damian Peckett <damian@pecke.tt>
Uploaders: Damian Peckett <damian@pecke.tt>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-github-protonmail-go-crypto-dev,
               golang-github-stretchr-testify-dev
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/dpeckett/deb822
Vcs-Git: https://github.com/dpeckett/deb822.git
Homepage: https://github.com/dpeckett/deb822
XS-Go-Import-Path: github.com/dpeckett/deb822

Package: golang-github-dpeckett-deb822-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-github-protonmail-go-crypto-dev,
         golang-github-stretchr-testify-dev,
         ${misc:Depends}
Description: A Go SerDes library for Debian deb822 encoding. (library)
 deb822
 .
 A Go SerDes (https://en.wikipedia.org/wiki/SerDes) library for Debian
 deb822 (https://www.debian.org/doc/debian-policy/ch-controlfields.html)
 encoding.
 .
 Credits
 .
 This library was originally based on the work of the go-debian
 (https://github.com/paultag/go-debian) library by Paul Tagliamonte but
 has since been heavily modified and extended.

